Kevin_Sanchez_Cliente/src/conf/xml-resources/web-service-references/WS_Operacion/wsdl/localhost_8080/Servidor_Kevin_Sanchez/WS_Operacion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://sw/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw/">

<xs:element name="buscarProducto" type="tns:buscarProducto"/>

<xs:element name="buscarProductoResponse" type="tns:buscarProductoResponse"/>

<xs:element name="nuvoProducto" type="tns:nuvoProducto"/>

<xs:element name="nuvoProductoResponse" type="tns:nuvoProductoResponse"/>

<xs:complexType name="buscarProducto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="listaPedidos" type="tns:pedido" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="tipoMedicamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedido">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="iddistribuidor" type="tns:distribuidor" minOccurs="0"/>
<xs:element name="idfarmacia" type="tns:farmacia" minOccurs="0"/>
<xs:element name="idproducto" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distribuidor">
<xs:sequence>
<xs:element name="listaPedidos" type="tns:pedido" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombreDistribuidor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="farmacia">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="listaPedidos" type="tns:pedido" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombreFarmacia" type="xs:string" minOccurs="0"/>
<xs:element name="tipoFarmacia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuvoProducto">
<xs:sequence>
<xs:element name="arg0" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuvoProductoResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>